.admin-manage
  .actions
    each action in actions
      .action(data-action="#{action.name}" class="#{action.name}")
        img.shadow-icon(data-src="admin-#{action.name}")
        .name=action.name
        .short!=action.short
