.box.cluster-box
  .main-content
    .animation
      .svg-holder
      .title
    .white-box
      .id
        .name=clusterName
        .service-name=serviceType
      .component
        .service-icon(class="#{serviceType}")
          img.shadow-icon(data-src="hex-#{serviceType}" scalable="true", xtra="2")
        .total=totalMembers
      .stats-strip
  .nav-holder
  .sub
    .sub-content
    
