.box.cluster-box
  .white-box
    .id
      .name=clusterName
      .service-name=serviceType
    .component
      .service-icon(class="#{serviceType}")
        img.shadow-icon(data-src="#{serviceType}" scalable="true", xtra="2")
      .total=totalMembers
    .stats
      
