.box.cluster-box
  .white-box
    .id
      .name=name
      .service-name=serviceName
    .component
      .service-icon(class="#{componentKind}")
        img.shadow-icon(data-src="#{componentKind}" scalable="true", xtra="2")
      .total=totalMembers
    .stats
      
