.box.host-instance-box
  .main-content
    .animation
      .svg-holder
      .title
    .white-box
      if componentData.scalesHoriz
        .square-service-icon
          img.shadow-icon(data-src="hex-#{componentData.serviceType}" )
        .host <span>Host: </span>#{memberData.hostName}
      else
        .square-service-icon
          if memberData.role == 'arbiter'
            img.shadow-icon(data-src="hex-arbiter" )
          else
            img.shadow-icon(data-src="hex-#{componentData.serviceType}" )
        .data-info
          .host <span>Host: </span>#{memberData.hostId}
          .name <span>Role: </span>#{memberData.role}
      .service-icons
      .stats-strip
  .nav-holder
  .sub
    .sub-content
    
